.testklass {
    background-color: green;
    background-color: yellow;
    background-color: green;
}

/* exempelkommentar */

.fargrod {
    background-color: red;
    /* margin: 100px; */
}

.bla {
    background-color: blue;
    margin: 100px;
    margin-left: 200px;
}