.testklass {
    background-color: green;
    background-color: yellow;
    background-color: green;
}

/* exempelkommentar */

.fargrod {
    background-color: red;
}

.bla-och-margin {
    background-color: blue;
    margin: 100px;
    margin-left: 200px;
}